appdirs==1.4.0
gspread==0.6.2
httplib2==0.10.3
oauth2client==4.0.0
packaging==16.8
pkg-resources==0.0.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
pyparsing==2.1.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
tinydb==3.2.2
